@model VOA.Models.Merchandise

@{
    ViewBag.Title = "Donor Administration - Delete Merchandise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Display breadcrump bar for Merchandise Administration -->
<div class="page-header"><h1>Merchandise Administration - Delete Merchandise</h1></div>
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/Merchandise">Merchandise List</a></li>
    <li class="active">Delete Merchandise (@Model.Name)</li>
</ol>

<form class="container" action="/Merchandise/Delete/@Model.ID" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)

    <div class="col-lg-4">
        <div class="form-group">
            <label>Merchandise Name:</label>
            <input name="Name" class="form-control" type="text" value="@Model.Name" readonly autofocus>
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>    

    <div class="col-lg-12 form-group">
        <button type="submit" class="btn btn-primary">Confirm Delete</button>
        <a href="/Merchandise" class="btn btn-link">Cancel</a>
    </div>
</form>