@model VOA.Models.Merchandise

@{
    ViewBag.Title = "Merchandise Administration - Edit Merchandise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Display breadcrump bar for Donor Administration -->
<div class="page-header"><h1>Merchandise Administration - Edit Merchandise</h1></div>
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/Merchandise">Merchandise List</a></li>
    <li class="active">Edit Merchandise (@Model.Name)</li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="container">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="col-lg-6">
            <div class="form-group">
                <label>Merchandise Name:</label>
                <input name="Name" class="form-control" type="text" value="@Model.Name" placeholder="Merchandise Name" autofocus>
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="col-lg-6">
            <label>Enabled:</label>
            <div class="checkbox">
                @Html.EditorFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active)            
            </div>
        </div>

        <div class="col-lg-12 form-group">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="/Merchandise" class="btn btn-link">Cancel</a>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
