@model VOA.Models.Donor

@{
    ViewBag.Title = "Donor Administration - Create Donor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Display breadcrump bar for Donor Administration -->
<div class="page-header"><h1>Donor Administration - Add Donor</h1></div>
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/Donor">Donor List</a></li>
    <li class="active">Add Donor</li>
</ol>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="container">
        @Html.ValidationSummary(true)

        <div class="col-lg-4">
            <div class="form-group">

                <input name="FirstName" class="form-control" type="text" placeholder="First Name" autofocus>
                 @Html.ValidationMessageFor(model => model.FirstName)                
            </div>
        </div>

        <div class="col-lg-8">
            <div class="form-group">

                <input name="LastName" class="form-control" type="text" placeholder="Last Name">
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">

                <input name="HouseNumber" id="HouseNumber" class="form-control" type="text" placeholder="House #">
                @Html.ValidationMessageFor(model => model.HouseNumber)
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
 
                <input name="Street1" id="Street1" class="form-control" type="text" placeholder="Street1">
                @Html.ValidationMessageFor(model => model.Street1)
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
   
                <input name="Street2" id="Street2" class="form-control" type="text" placeholder="Street2">
                @Html.ValidationMessageFor(model => model.Street2)
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
 
                <input name="City" class="form-control" type="text" placeholder="City">
                @Html.ValidationMessageFor(model => model.City)
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">

                <input name="State" class="form-control" type="text" placeholder="State">
                @Html.ValidationMessageFor(model => model.State)
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
 
                <input name="ZipCode" class="form-control" type="text" placeholder="Zip Code">
                @Html.ValidationMessageFor(model => model.ZipCode)
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">

                <input name="Telephone" class="form-control" type="text" placeholder="Telephone #">
                @Html.ValidationMessageFor(model => model.Telephone)
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
 
                <input name="AltPhone" class="form-control" type="text" placeholder="Alternate Telephone #">
                @Html.ValidationMessageFor(model => model.AltPhone)
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
 
                <input name="Email" class="form-control" type="text" placeholder="Email Address">
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group">

                <input name="Notes" class="form-control" type="text" placeholder="Notes">
                @Html.ValidationMessageFor(model => model.Notes)
            </div>
        </div>

        <div class="col-lg-12 form-group">
            <button type="submit" class="btn btn-primary">Save New Donor</button>
            <button type="reset" class="btn btn-link">Reset</button>
            <a href="/Donor" class="btn btn-link">Cancel</a>
        </div>  
   </div>
}

