@model VOA.Models.Donor

@{
    ViewBag.Title = "Donor Administration - Delete Donor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Display breadcrump bar for Donor Administration -->
<div class="page-header"><h1>Donor Administration - Delete Donor</h1></div>
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/Donor">Donor List</a></li>
    <li class="active">Delete Donor (@Model.FirstName @Model.LastName)</li>
</ol>

<form class="container" action="/Donor/Delete/@Model.ID" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)

    <div class="col-lg-4">
        <div class="form-group">
            <label>First Name:</label>
            <input name="FirstName" class="form-control" type="text" value="@Model.FirstName" readonly autofocus>
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
    </div>

    <div class="col-lg-8">
        <div class="form-group">
            <label>Last Name:</label>
            <input name="LastName" class="form-control" type="text" value="@Model.LastName" readonly>
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            <label>House #:</label>
            <input name="HouseNumber" id="HouseNumber" class="form-control" type="text" value="@Model.HouseNumber" readonly>
            @Html.ValidationMessageFor(model => model.HouseNumber)
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            <label>Street1</label>
            <input name="Street1" id="Street1" class="form-control" type="text" value="@Model.Street1" readonly>
            @Html.ValidationMessageFor(model => model.Street1)
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            <label>Street2</label>
            <input name="Street2" id="Street2" class="form-control" type="text" value="@Model.Street2" readonly>
            @Html.ValidationMessageFor(model => model.Street2)
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            <label>City</label>
            <input name="City" class="form-control" type="text" value="@Model.City" readonly>
            @Html.ValidationMessageFor(model => model.City)
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            <label>State</label>
            <input name="State" class="form-control" type="text" value="@Model.State" readonly>
            @Html.ValidationMessageFor(model => model.State)
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            <label>Zip Code</label>
            <input name="ZipCode" class="form-control" type="text" value="@Model.ZipCode" readonly>
            @Html.ValidationMessageFor(model => model.ZipCode)
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            <label>Telephone #</label>
            <input name="Telephone" class="form-control" type="text" value="@Model.Telephone" readonly>
            @Html.ValidationMessageFor(model => model.Telephone)
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            <label>Alternate Telephone #:</label>
            <input name="AltPhone" class="form-control" type="text" value="@Model.AltPhone" readonly>
            @Html.ValidationMessageFor(model => model.AltPhone)
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            <label>Email Address:</label>
            <input name="Email" class="form-control" type="text" value="@Model.Email" readonly>
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>

    <div class="col-lg-12">
        <div class="form-group">
            <label>Notes:</label>
            <input name="Notes" class="form-control" type="text" value="@Model.Notes" readonly>
            @Html.ValidationMessageFor(model => model.Notes)
        </div>
    </div>

    <div class="col-lg-12 form-group">
        <button type="submit" class="btn btn-primary">Confirm Delete</button>
        <a href="/Donor" class="btn btn-link">Cancel</a>   
    </div>
</form>
   